<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      sizes="16x16 32x32 64x64"
      href="/img/NDBlogo.png"
    />
    <title>codeExam</title>
    <link rel="stylesheet" href="/css/eunwoo_codeExam.css" />
    <style id="codeExam_css"></style>
  </head>

  <body>
    <div id="codeExam_body">
      <span>젭알 나와라요</span>
    </div>
    <!-- <script src="/js/eunwoo_index.js"></script> -->
    <!-- <script src="/js/eunwoo_codeExam.js"></script> -->
    <script id="codeExam_js"></script>
  </body>
</html>
