<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- content에 자신의 OAuth2.0 클라이언트ID를 넣습니다. -->
    <meta
      name="google-signin-client_id"
      content="387069556796-6pf36ar41vvsqpe538bao9sco8uss32n.apps.googleusercontent.com"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- /css/login.css로 요청하면 public/css/login.css 파일이 클라이언트에게 제공 -->
    <link rel="stylesheet" href="/css/join.css" />
    <link
      rel="shortcut icon"
      sizes="16x16 32x32 64x64"
      href="/img/NDBlogo.png"
    />
    <title>NSB 코딩예제사이트</title>
  </head>
  <body>
    <!-- 회원가입과 로그인을 포함한 두 개의 폼이 있는 컨테이너 -->
    <div id="back_container" class="back_container">
      <!-- 내비게이션  -->
      <nav id="navbar">
        <div class="navLeft">
          <div class="hamburger"></div>
          <div class="nav_logo">
            <a href="#" id="main-page" class="nav-ndb">NDB</a>
          </div>
        </div>
        <div class="navRight">
          <div class="slide-panel login-panel">
            <form action="/login">
              <button type="submit" class="nav_login_button">Login</button>
            </form>
          </div>
          <div class="slide-panel join-panel">
            <form action="#">
              <button type="button" class="nav_join_button">Join</button>
            </form>
          </div>
        </div>
      </nav>
      <h1 class="h1">JOIN NDB</h1>
      <p>NDB공부예제 사이트에 오신걸 환영합니다! 회원가입을 진행해 주세요</p>
      <div class="white"></div>
      <!-- 회원가입 컨테이너  -->
      <div class="join_container">
        <form action="/join" class="join_form" method="post">
          <div class="join_box">
            <p>이름</p>
            <input type="text" class="join_input" name="name" required />
            <p>이메일</p>
            <input type="email" class="join_input" name="email" required />
            <p>비밀번호</p>
            <input type="password" class="join_input" name="pass" required />
          </div>
          <!-- 개인정보 동의 체크버튼 -->
          <div class="box_agreement">
            <ul>
              <input type="checkbox" name="checkbox" required />
              <span class="join_agreement">
                <a href="#">이용약관</a> 및 <a href="#">개인정보</a> 보호정책에
                동의합니다.
              </span>
            </ul>
          </div>
          <!-- 회원가입하기 버튼  -->
          <button type="submit" class="join_button" id="joinButton">
            Create Account
          </button>
        </form>
        <!-- 계정찾기 -->
        <div class="find_text"></div>
      </div>

      <!-- -------   하단선 ----------------- -->
      <hr class="hr_left" />
      <span class="sns_span">간편로그인</span>
      <hr class="hr_right" />

      <!-- 소셜로그인 버튼 -->
      <div class="sns_join_div">
        <!-- 구글로그인 -->
        <form action="/auth/google" class="sns_form">
          <button id="google_button" class="google_button sns_button"></button>
        </form>
        <!-- 카카오 로그인 -->
        <form action="/auth/kakao" class="sns_form">
          <button class="kakao_button sns_button"></button>
        </form>
        <!-- 깃허브 로그인 -->
        <form action="/auth/github" class="sns_form">
          <button class="git_button sns_button"></button>
        </form>
      </div>
      <!-- 모달 -->
      <div class="modal" id="modal">
        <div class="modal-content">
          <span class="close" id="close">&times;</span>
          <h4>
            🎉 회원가입이 완료되었습니다!! 로그인입력후 사이트를 이용해주세요.
          </h4>
          <form id="login-page">
            <button type="submit" class="madal-login-button">로그인하기</button>
          </form>
        </div>
      </div>

      <!-- 하단 NSB 소개단  -->
      <footer>
        <p>
          Created with <i class="fa fa-heart"></i> by
          <a
            target="_blank"
            href="https://www.notion.so/NSD-_NDB-3e67330ff9764a33a959d728dfd35c1c"
            >순두부아니다</a
          >
          <!-- - 이 작품과 함께한 동안 어떻게 만들었는지 그리고 도전에 참여하는 방법에 -->
          <!-- 대해 -->- 인공지능사관학교 순두부들에 대해 알고 싶다면
          <a
            target="_blank"
            href="https://www.notion.so/NSD-_NDB-3e67330ff9764a33a959d728dfd35c1c"
            >여기</a
          >에서 읽어보세요.
        </p>
      </footer>
    </div>
    <script src="/js/joinmodal.js"></script>
    <script src="/js/config.js"></script>
  </body>
</html>
